h1{
    color: white;
    text-transform: capitalize;
    background-color: steelblue;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}
li{
    color: blueviolet;
}
#showResult{
    display: none ;
    padding: 2%;
}
#subjectInput{
    display: none;
    padding: 2%;
}
.get-result{
    padding: 5%;
}
.add-new{
    padding: 5%;
}
#boody{
    background-color: #232323;
    color: white;
}
.bttns{
    padding: 5px;
    background-color: yellowgreen;
}