h1{
    color: steelblue;
    text-transform: capitalize;
}
li{
    color: blueviolet;
}
#showResult{
    display: none ;
    padding: 2%;
}
#subjectInput{
    display: none;
    padding: 2%;
}
.get-result{
    padding: 5%;
}
.add-new{
    padding: 5%;
}
#boody{
    background-color: #232323;
    color: white;
}